APP_NAME=AppBank Voice Pipeline
APP_ENV=development
API_PREFIX=/v1
AWS_REGION=us-east-1
AWS_TRANSCRIBE_LANGUAGE_CODE=en-US
AWS_TRANSCRIBE_MEDIA_ENCODING=pcm
AWS_TRANSCRIBE_SAMPLE_RATE_HZ=16000
AWS_NOVA_MODEL_ID=amazon.nova-lite-v1:0
PIPELINE_CHUNK_ACKNOWLEDGEMENTS=false
